.DS_Store

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# Large trained models
*.h5
*.keras

# Dataset
dataset/
Training/
Testing/
.venv/
.venv312/
